@import '_setting.scss';

$column-header-height: 44px;
$column-footer-height: 44px;
$card-border-radius: 5px;
$column-height: calc(#{$board-content-height} - #{$grap * 2});

.column {
    flex: 0 0 auto;
    width: 300px;
    height: $column-height;
    margin-left: $grap;

    >* {
        background-color: $list-bg-color;
        padding: 0 8px;
    }

    header.column-drag-handle {
        padding: 5px 8px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
        display: flex;

        .column-title {
            flex: 90%;
        }

        .form-control {
            padding: 0.2rem 0.4rem;
        }

        .column-dropdown-actions {
            flex: 10%;

            button.dropdown-btn {
                padding: 0 $grap;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
                background-color: $list-bg-color;
                border-color: $list-bg-color;
                color: $app-main-text-color;
                margin-bottom: 10px;

                &::after {
                    content: '...';
                    border: none;
                }

                &:hover {
                    background-color: darken($list-bg-color, 10);
                    border-color: darken($list-bg-color, 10);
                }
            }

            .dropdown-menu {
                padding: 0;
                min-width: 200px;

                a.dropdown-item {
                    padding: 0.1rem 1rem;
                    font-size: 14px;

                    &:not(:last-child) {
                        border-bottom: 1px solid darken($list-bg-color, 10);
                    }
                }
            }
        }

    }

    footer {
        padding-left: 10px;
        height: $column-footer-height;
        min-height: 10px;
        line-height: $column-footer-height;
        font-weight: bold;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
        color: #888;

        .footer-actions {
            padding-left: 5px;
            cursor: pointer;

            &:hover {
                color: $app-main-text-color;
            }
        }
    }

    .card-list {
        margin: 0;
        padding-bottom: 5px;
        max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
        overflow-y: auto;
        min-height: 0px;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darken($list-bg-color, 15);
            border-right: 5px solid $list-bg-color;
            border-radius: 5px;
        }

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            font-weight: bold;
        }

        .card-ghost-drop {
            transition: transform 0.18s ease-in-out;
            font-weight: bold;
            transform: rotateZ(0deg);
        }

        .card-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
        }

        .card-new-card-area {
            .input-enter-new-card {
                min-height: 54px;
                max-height: 162px;

            }

        }

        div.card-new-card-actions {
            line-height: 20px;
        }

    }
}