@import "_setting.scss";

$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 5px;
$list-bg-color: #ebecf0;

.column {
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$grap});
    margin-left: $grap;

    &:last-child {
        margin-right: 10px;
    }


    >* {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
    }

    header {
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    footer {
        padding-left: 15px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        font-weight: bold;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
    }

    ul.card-list {
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
        overflow-y: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darken($list-bg-color, 15);
            border-right: 5px solid $list-bg-color;
            border-radius: 5px;
        }


    }
}