@import "_setting.scss";

$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 5px;
$list-bg-color: #ebecf0;
$column-height: calc(#{$board-content-height} - #{$grap * 2});

.column {
    flex: 0 0 auto;
    width: 300px;
    height: $column-height;
    margin-left: $grap;

    >* {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
    }

    header.column-drag-handle {
        padding-left: 15px;
        height: $column-header-height;
        line-height: $column-header-height;
        font-size: 16px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;
    }

    footer {
        padding-left: 15px;
        height: $column-footer-height;
        line-height: $column-footer-height;
        font-weight: bold;
        border-bottom-left-radius: $column-border-radius;
        border-bottom-right-radius: $column-border-radius;
    }

    .card-list {
        margin: 0;
        max-height: calc(#{$column-height} - #{$column-header-height} - #{$column-footer-height});
        overflow-y: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical {
            width: 11px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darken($list-bg-color, 15);
            border-right: 5px solid $list-bg-color;
            border-radius: 5px;
        }

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg)
        }

        .card-ghost-drop {
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg)
        }

        .card-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
        }

    }
}