@import "_setting.scss";
$card-border-radius: 5px;


li.card-item {
    background-color: white;
    padding: $grap;
    border-radius: $card-border-radius ;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &:last-child {
        margin-bottom: 1px;
    }

    img {
        display: block;
        width: calc(100% + 2 * #{$grap});
        margin: -$grap 0 $grap (
            -$grap
        );
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
}
}