@import "_setting.scss";

$common-element-bg: rgba(255, 255, 255, .24);

.board-contents {
    display: flex;
    height: $board-content-height;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $common-element-bg;
        border-radius: 8px;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .add-new-column {
        width: 250px;
        max-width: 250px;
        line-height: 32px;
        padding: 4px 0px 4px 15px;
        cursor: pointer;
        color: white;
        margin-left: $grap;
        font-size: 15px;
        background-color: rgba(255, 255, 255, 0.24);
        margin-right: $grap;
        border-radius: $column-border-radius;
        line-height: 32px;

        &:hover {
            background-color: hsla(0, 0%, 100%, .44);
        }
    }

    .enter-new-column {
        width: 250px;
        max-width: 250px;
        background-color: $list-bg-color;
        line-height: 32px;
        padding: 4px 10px;
        margin-left: $grap;
        border-radius: $column-border-radius;

        input.input-enter-new-column {
            margin: 5px 0;
        }

        .form-control {
            font-size: 14px;
        }
    }
}