@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");

$grap : 10px;
//appboard + boardbar + boardconent = 99vh
$navbar-app-height : 8vh;
$navbar-board-height: 9vh;
$board-content-height : 82vh;
$column-border-radius: 4px;
//Screens
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-iphone: 480px;
$screen-iphone-down: "(max-width:375px)";

$board-bg-color: #0079bf;
$app-main-text-color: #333;
$list-bg-color: #ebecf0;
$color-danger: #e74c3c;
$input-border-color : #0079bf;