@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600");

$grap : 10px;

//Screens
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-iphone: 480px;
$screen-iphone-down: "(max-width:375px)";

$board-bg-color: #0079bf;