@import "_setting.scss";


$list-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, .24);

$column-header-height: 36px;
$column-footer-height: 36px;
$column-border-radius: 5px;
$card-border-radius: 5px;


body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
}

.trello-app-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;

  .icon {
    font-size: 14px;
    margin-right: 5px;
  }
}