@import '_setting.scss';
@import '~bootstrap/scss/bootstrap';

$list-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, .24);

$column-header-height: 40px;
$column-footer-height: 40px;
$column-border-radius: 5px;
$card-border-radius: 5px;


body {
  margin: 0;
  font-size: 14px;
  line-height: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 550;
}

.trello-app-master {
  height: 100vh;
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;

  .icon {
    font-size: 14px;
    margin: 0 5px;
  }

  .trello-container {
    margin: 0 15px;
    padding: 0;
  }

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=number]:focus,
  [type=text].form-control:focus,
  [type=password].form-control:focus,
  [type=email].form-control:focus,
  [type=tel].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }

  .btn {
    --bs-btn-font-size: 14px;
    --bs-btn-line-height: 1.2;
    --bs-btn-border-radius: 3px
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .input,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
  }



  .trello-content-editable {
    background-color: inherit;
    border: none;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;

    &:focus {
      background-color: white;
    }
  }

  span.cancel-icon {
    margin-left: $grap;

    i {
      font-size: 20px;
      color: $color-danger;

      &:hover {
        cursor: pointer;
        color: darken($color-danger, 10);
      }
    }
  }
}